

<%= turbo_frame_tag dom_id(block) do %>

  <%= render UI::Item.new(variant: "outline") do %>
    <%= render UI::ItemContent.new do %>
    <div class="inline-block">
        <%= render UI::Badge.new(variant: :outline) {  block.method_name  } %>
        <span class="text-sm text-muted-foreground"> <%= Array(block.args).join(" :") %></span>
      </div>
    <% end %>
    <%= render UI::ItemActions.new do %>
      <%= form_with(url: darwin.model_block_path(@model, block), method: :delete) do |form| %>
        <%= render "ui/button",
                    variant: "outline",
                    size: "sm",
                    type: "submit",
                    attributes: { data: { turbo_confirm: "Are you sure?" } } do %>
          Delete
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<% end %>