<%= turbo_frame_tag "new_block" do %>
  <%= render "ui/card" do %>
    <%= render "ui/card/content", classes: "space-y-4" do %>
      <% if @block.method_name.present? %>
        <%= form_with(model: @block, scope: :darwin_block, url: darwin.model_blocks_path(@model)) do |form| %>
          <% presenter = Darwin::BlockFormPresenter.new(block: @block, builder: form, view_context: self) %>
          <%= presenter.render %>
          <div class="flex justify-end">
            <%= render "ui/button", type: "submit" do %>
              Save
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= render partial: "darwin/blocks/new_block_buttons", locals: { model: @model } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
