<div class="nested-fields space-y-4 rounded-md border border-dashed p-4" data-new-record="<%= form.object.new_record? %>">
  <% association.klass.columns.each do |column| %>
    <% next if column.name == 'id' || column.name == 'created_at' || column.name == 'updated_at' %>
    <% next if association.klass.reflect_on_all_associations(:belongs_to).map(&:foreign_key).include?(column.name) %>

    <% field_id = form.field_id(column.name.to_sym) %>
    <% field_name = form.field_name(column.name.to_sym) %>
    <%= render "ui/field" do %>
      <%= render "ui/field/label", for_id: field_id do %><%= column.name.humanize %><% end %>
      <%= render "ui/field/content" do %>
        <% case column.type
           when :string
             concat(render("ui/input", id: field_id, name: field_name, value: form.object.send(column.name)))
           when :text
             concat(render("ui/textarea", id: field_id, name: field_name, value: form.object.send(column.name), rows: 3))
           when :integer, :float, :decimal
             concat(render("ui/input", id: field_id, name: field_name, value: form.object.send(column.name), type: "number"))
           when :boolean
             concat(render("ui/switch", name: field_name, id: field_id, checked: form.object.send(column.name)))
           when :date
             concat(render("ui/input", id: field_id, name: field_name, value: form.object.send(column.name), type: "date"))
           when :datetime
             concat(render("ui/input", id: field_id, name: field_name, value: form.object.send(column.name)&.strftime("%Y-%m-%dT%H:%M"), type: "datetime-local"))
           else
             concat(render("ui/input", id: field_id, name: field_name, value: form.object.send(column.name)))
           end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="flex justify-between items-center">
    <%= form.hidden_field :_destroy %>
    <%= render "ui/button", variant: "destructive", type: "button", attributes: { data: { action: "nested-form#remove" } } do %>
      Remove
    <% end %>
  </div>
</div>
