<%= content_for :heading, "Records" %>
<%= content_for :subheading, @model.name.pluralize %>
<% runtime = @runtime_class || runtime_class_for(@model) %>
<%= render "ui/card" do %>
  <%= render "ui/card/header", classes: "flex items-center justify-between" do %>
    <div>
    </div>
    <div class="flex gap-2">
      <%= render "ui/navigation_menu/link", href: darwin.edit_model_path(@model), trigger_style: true do %>Edit Schema<% end %>
      <%= render "ui/button", type: "button", attributes: { onclick: "Turbo.visit('#{darwin.new_record_path(@model.collection_param)}')" } do %>
        New <%= @model.name %>
      <% end %>
    </div>
  <% end %>

      <%= render "ui/card/content" do %>
      <%= render "ui/table", classes: "w-full" do %>
        <%= render "ui/table/header" do %>
          <%= render "ui/table/row" do %>
              <% runtime.attribute_names.each do |attr_name| %>
                <%= render "ui/table/head" do %><%= attr_name.humanize %><% end %>
              <% end %>
              <%= render "ui/table/head", classes: "text-right" do %>Actions<% end %>
            <% end %>
          <% end %>

      <%= render "ui/table/body" do %>
        <% @records.each do |record| %>
          <%= render "ui/table/row" do %>
            <% runtime.attribute_names.each do |attr_name| %>
              <%= render "ui/table/cell" do %>
                <%= record.send(attr_name) %>
              <% end %>
            <% end %>
            <%= render "ui/table/cell", classes: "text-right" do %>
              <div class="flex justify-end gap-2">
                <%= render "ui/navigation_menu/link", href: darwin.record_path(@model.collection_param, record), trigger_style: true do %>Show<% end %>
                <%= render "ui/navigation_menu/link", href: darwin.edit_record_path(@model.collection_param, record), trigger_style: true do %>Edit<% end %>
                <%= form_with url: darwin.record_path(@model.collection_param, record), method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
                  <%= render "ui/button", variant: "destructive", type: "submit" do %>
                    Destroy
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
