<%= render "ui/card",
            classes: "nested-fields mt-2",
            attributes: { data: { controller: "block-form", new_record: f.object.new_record? } } do %>
  <%= render "ui/card/content", classes: "space-y-5" do %>
    <% block_types = %w[attribute validates belongs_to has_many has_one accepts_nested_attributes_for] %>
    <%= render "ui/field" do %>
      <%= render "ui/field/label", content: "Block type" %>
      <%= render "ui/field/content" do %>
        <%= render "ui/select",
                    classes: "w-full",
                    value: f.object.method_name.presence do %>
          <%= render "ui/select/trigger", placeholder: "Select a block" %>
          <%= render "ui/select/content" do %>
            <% block_types.each do |type| %>
              <%= render "ui/select/item", value: type do %>
                <%= type.titleize %>
              <% end %>
            <% end %>
          <% end %>
          <%= f.hidden_field :method_name,
                              data: {
                                "ui--select-target": "hiddenInput",
                                action: "change->block-form#update"
                              } %>
        <% end %>
      <% end %>
    <% end %>

    <% presenter = Darwin::BlockFormPresenter.new(block: f.object, builder: f, view_context: self) %>
    <%= tag.div(**presenter.container_attributes) do %>
      <%= presenter.render %>
    <% end %>

    <div class="flex items-center justify-between rounded-md border border-dashed px-3 py-2">
      <%= render "ui/badge", classes: "uppercase tracking-wide" do %>
        Block
      <% end %>
      <%= render "ui/button", variant: "destructive", type: "button",
                  attributes: { data: { action: "nested-form#remove" } } do %>
        Remove
      <% end %>
    </div>
  <% end %>
<% end %>
