<%= render "ui/card",
            classes: "nested-fields mt-2",
            attributes: { data: { controller: "block-form", new_record: f.object.new_record? } } do %>
  <%= render "ui/card/content", classes: "space-y-5" do %>
    <% block_types = block_type_options(f.object.darwin_model) %>
    <%= render "ui/field" do %>
      <%= render "ui/field/label", content: "Block type" %>
      <%= render "ui/field/content" do %>
        <%= render "ui/select",
                    classes: "w-full",
                    value: f.object.method_name.presence do %>
          <%= render "ui/select/trigger", placeholder: "Select a block" %>
          <%= render "ui/select/content" do %>
            <% block_types.each do |handler| %>
              <%= render "ui/select/item", value: handler.primary_name do %>
                <%= handler.primary_name.titleize %>
              <% end %>
            <% end %>
          <% end %>
          <%= f.hidden_field :method_name,
                              data: {
                                "ui--select-target": "hiddenInput",
                                action: "change->block-form#update"
                              } %>
        <% end %>
      <% end %>
    <% end %>

    <div data-block-form-target="fields" class="space-y-4">
      <% if f.object.method_name.present? %>
        <%= render partial: "darwin/models/block_forms/#{f.object.method_name}", locals: { f: f } %>
      <% end %>
    </div>

    <div class="flex items-center justify-between rounded-md border border-dashed px-3 py-2">
      <%= render "ui/badge", classes: "uppercase tracking-wide" do %>
        Block
      <% end %>
      <%= render "ui/button", variant: "destructive", type: "button",
                  attributes: { data: { action: "nested-form#remove" } } do %>
        Remove
      <% end %>
    </div>
  <% end %>
<% end %>
