<%= turbo_frame_tag "new_block" do %>
  <%= render "ui/card", classes: "mt-2" do %>
    <%= render "ui/card/content" do %>
      <div data-controller="block-form" class="space-y-4">
        <%= render "ui/field" do %>
          <%= render "ui/field/label" do %>Block type<% end %>
          <%= render "ui/field/content" do %>
            <%= render "ui/select", classes: "w-full" do %>
              <%= render "ui/select/trigger", placeholder: "Select a block type" %>
              <%= render "ui/select/content" do %>
                <% block_type_options(model).each do |handler| %>
                  <%= render "ui/select/item", value: handler.primary_name do %><%= handler.primary_name.titleize %><% end %>
                <% end %>
              <% end %>
              <%= hidden_field_tag :method_name,
                                   nil,
                                   data: { "ui--select-target": "hiddenInput", action: "change->block-form#update" } %>
            <% end %>
          <% end %>
        <% end %>

        <%= render "ui/navigation_menu/link",
                    href: darwin.new_model_block(model, method_name: "attribute"),
                    trigger_style: true,
                    attributes: { data: { "block-form-target": "link" } } do %>
          New block
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
