<h1>Editing Darwin Model: <%= @model.name %></h1>
<ul>
        <% @model.runtime_constant.columns.each do |column| %>
        <li><%= column.name.humanize %></li>
        <% end %>
</ul>
<%= form_with(model: @model, url: darwin.model_path(@model)) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Update Name" %>
  </div>
<% end %>

<div class="mt-8">
  <h2 class="font-bold text-xl">Blocks</h2>
  <div id="blocks" class="mt-4 space-y-4">
    <%= render @model.blocks %>
  </div>
</div>

<div class="mt-8">
  <h3 class="font-bold text-lg">New Block</h3>
  <div class="mt-4 flex space-x-2">
    <% available_method_names(@model).each do |method_name| %>
      <%= button_to "Add #{method_name.humanize}", darwin.model_blocks_path(@model), params: { darwin_block: { method_name: method_name } }, method: :post, class: "btn-secondary" %>
    <% end %>
  </div>
</div>
