<h1>Darwin Models</h1>

<%= link_to 'New Darwin Model', darwin.new_model_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.name %></td>
        <td><%= link_to 'Show', darwin.model_path(model) %></td>
        <td><%= link_to 'Edit', darwin.edit_model_path(model) %></td>
        <td><%= link_to 'Destroy', darwin.model_path(model), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>