<%= f.hidden_field :method_name, value: f.object.method_name %>
<div class="darwin-form__group">
  <%= f.label :args_name, "Attribute Name" %>
  <%= f.text_field :args_name, value: f.object.args_name %>
  <% if f.object.errors[:args_name].any? %>
    <p class="text-sm text-red-600"><%= f.object.errors.full_messages_for(:args_name).join(", ") %></p>
  <% end %>
</div>
<div class="darwin-form__group">
  <%= f.label :args_type, "Type" %>
  <%= f.select :args_type, %w[string integer boolean text datetime date float decimal], { selected: f.object.args_type }, { data: { block_form_target: "attributeType", action: "change->block-form#toggleAttributeFields" } } %>
  <% if f.object.errors[:args_type].any? %>
    <p class="text-sm text-red-600"><%= f.object.errors.full_messages_for(:args_type).join(", ") %></p>
  <% end %>
</div>
<div class="darwin-form__group" data-attribute-type="all">
  <%= f.label :options_default, "Default" %>
  <%= f.fields_for :options do |options_form| %>
    <%= options_form.text_field :default, value: f.object.options ? f.object.options['default'] : '' %>
  <% end %>
  <p class="darwin-hint">Optional default value for this column.</p>
</div>
<div class="darwin-form__group" data-attribute-type="all">
  <%= f.label :options_null, "Null" %>
  <%= f.fields_for :options do |options_form| %>
    <%= options_form.check_box :null, checked: f.object.options ? f.object.options['null'] : false %>
  <% end %>
</div>
<div class="darwin-form__group" data-attribute-type="string text integer binary">
  <%= f.label :options_limit, "Limit" %>
  <%= f.fields_for :options do |options_form| %>
    <%= options_form.number_field :limit, value: f.object.options ? f.object.options['limit'] : '' %>
  <% end %>
</div>
<div class="darwin-form__group" data-attribute-type="decimal">
  <%= f.label :options_precision, "Precision" %>
  <%= f.fields_for :options do |options_form| %>
    <%= options_form.number_field :precision, value: f.object.options ? f.object.options['precision'] : '' %>
  <% end %>
</div>
<div class="darwin-form__group" data-attribute-type="decimal">
  <%= f.label :options_scale, "Scale" %>
  <%= f.fields_for :options do |options_form| %>
    <%= options_form.number_field :scale, value: f.object.options ? f.object.options['scale'] : '' %>
  <% end %>
</div>
