<%= f.hidden_field :method_name, value: f.object.method_name %>
<div class="space-y-3">
  <% assoc_id = f.field_id(:args_association_name) %>
  <% assoc_name = f.field_name(:args_name) %>
  <% models = Darwin::Model.where.not(id: f.object.darwin_model.id).pluck(:name) %>

  <%= render "ui/field" do %>
    <%= render "ui/field/label", for_id: assoc_id do %>Association Name<% end %>
      <%= render "ui/field/content" do %>
        <%= render "ui/select", value: f.object.args.try(:first) do %>
          <%= render "ui/select/trigger", placeholder: "Select model", classes: "w-full" %>
          <%= render "ui/select/content" do %>
            <% models.each do |name| %>
              <%= render "ui/select/item", value: name do %><%= name %><% end %>
            <% end %>
          <% end %>
          <%= f.hidden_field :args_name,
                            data: { "ui--select-target": "hiddenInput" },
                            value: f.object.args.try(:first),
                            id: assoc_id,
                            name: assoc_name %>
        <% end %>
      <% end %>
  <% end %>
</div>
